* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Courier New', Courier, monospace;
}

.some-style {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 4rem auto;
    padding: 4rem;
    max-width: 700px;
    background-color: #22577a;
    box-shadow: 10px 10px 30px 2px #38a3a5;
    line-height: 2rem;
    color: #c7f9cc;
}

#span-user-name-complete {
    font-size: 1.3rem;
    color: #57cc99;
}

#span-user-password {
    text-decoration: underline;
    font-style: italic;
    color: #80ed99;
}